In [1]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/training-ml/Files/main/raw_data.csv"
df = pd.read_csv(url)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [4]:
# question 1

index = np.where(df["id"].isna() == True)

In [5]:
df.loc[9] = [210,"Jim Carry","01/01/1997","jim.carry@gmail.com","Male","Amazone","USA",12349.533,2365]

In [6]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,12349.533,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [7]:
# Question 2

email ={3:"gramecroser.@gmail.com",6:"modestbetterson@gmail.com"}
df["email"].fillna(email,inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,12349.533,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [8]:
# Question 3

df["Country"].unique()

array(['India', 'USA', 'UAS', 'Canada', nan, 'Russia'], dtype=object)

In [9]:
df["Country"].replace('UAS','USA', inplace=True)
df["Country"].fillna(df['Country'].mode()[0],inplace=True)

In [10]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,12349.533,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [11]:
from sklearn.impute import SimpleImputer, KNNImputer

In [12]:
df['Income.1'].replace('$', np.NaN,inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,12349.533,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [13]:
df['Income.1']=df['Income.1'].str.replace('$','')
df

C:\Users\Atharva\AppData\Local\Temp\ipykernel_4584\3064341009.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Income.1']=df['Income.1'].str.replace('$','')

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,NaN,2365.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     object
 8   Income.2            18 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

In [15]:
df['Income.1']=df['Income.1'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     float64
 8   Income.2            18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [16]:
imputer = SimpleImputer()
imputed_data = imputer.fit_transform(df[['Income.1','Income.2']])
df[['Income.1','Income.2']]= imputed_data

In [17]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,46784.630879,657.000000
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,43467.240728,32.000000
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,2365.000000
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000

In [18]:
df['Total_income'] = df[['Income.1','Income.2']].sum(axis=1)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728
3,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728
6,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599
9,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,2365.000000,45832.240728
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707

### 15 Sep 2023

In [19]:
# Quetion No 2
First_name = []
Last_name = []
for i in df['Employee Full Name']:
    First_name.append(i.split(" ")[0])
    Last_name.append(i.split(" ")[1])

In [20]:
len(First_name),len(Last_name)

(20, 20)

In [21]:
# Question No 3
df.insert(0,"First_name",First_name)
df.insert(1,'Last_name',Last_name)
df

,First_name,Last_name,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,Salim,Pound,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47005.638081
1,Madelene,Lutas,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54894.687948
2,Dolli,Swanbourne,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43701.240728
3,Graeme,Croisier,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47441.630879
4,Jillana,Physic,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59433.495560
5,Anetta,Yokelman,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44419.240728
6,Modesta,Batterson,207.0,Modesta Batterson,3/28/2018,modestbetterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43499.240728
7,Melina,Boon,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45368.240728
8,Nomi,Warn,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,1125.722222,29728.157599
9,Jim,Carry,210.0,Jim Carry,01/01/1997,jim.carry@gmail.com,Male,Amazone,USA,43467.240728,2365.000000,45832.240728
10,Charleen,Auden,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48039.174780
11,Dame,Povele,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44753.240728
12,Jesse,Engelbrecht,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,1125.722222,56930.647910
13,Camey,Barensen,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44237.473128
14,Alexandro,Sember,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44035.240728
15,Myrtia,Towne,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46034.765191
16,Shay,Cakebread,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56732.962157
17,Nerta,McCutheon,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35687.509995
18,Patin,Mitchely,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9053.351970
19,Malinda,Heistermann,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45031.078707

In [23]:
# Question no 1
df['DOB']=df['DOB'].str.replace('-','/')
df.head()

,First_name,Last_name,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total_income
0,Salim,Pound,201.0,Salim Pound,02/12/2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47005.638081
1,Madelene,Lutas,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54894.687948
2,Dolli,Swanbourne,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.0,43701.240728
3,Graeme,Croisier,204.0,Graeme Croisier,9/29/2018,gramecroser.@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47441.630879
4,Jillana,Physic,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59433.495560

In [24]:
df['DOB'] = pd.to_datetime(df['DOB'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   First_name          20 non-null     object
 1   Last_name           20 non-null     object
 2   id                  20 non-null     float64
 3   Employee Full Name  20 non-null     object
 4   DOB                 20 non-null     datetime64[ns]
 5   email               20 non-null     object
 6   gender              20 non-null     object
 7   Company             20 non-null     object
 8   Country             20 non-null     object
 9   Income.1            20 non-null     float64
 10  Income.2            20 non-null     float64
 11  Total_income        20 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 2.0+ KB

In [27]:
# Question 4
Salaries_by_comp_ctry = df.groupby(['Country','Company'])
Salaries_by_comp_ctry.mean()

                           id      Income.1     Income.2  Total_income
Country Company
Canada  Accenture  204.000000  46784.630879   657.000000  47441.630879
        Amazon     213.000000  55804.925687  1125.722222  56930.647910
        Google     214.000000  44191.473128    46.000000  44237.473128
India   Accenture  205.000000  57486.495560  1947.000000  59433.495560
        Amazon     212.666667  40233.997150  1702.333333  41936.330483
        Google     211.333333  48892.788476  1031.666667  49924.455143
        Intel      206.500000  43467.240728   492.000000  43959.240728
Russia  Amazon     219.000000   7101.351970  1952.000000   9053.351970
        Google     215.000000  43467.240728   568.000000  44035.240728
        Intel      220.000000  43363.078707  1668.000000  45031.078707
USA     Accenture  211.000000  47119.174780   920.000000  48039.174780
        Amazon     205.500000  41388.561663   922.861111  42311.422774
        Amazone    210.000000  43467.240728  2365.000000  45832.240728
        Intel      203.000000  43467.240728   234.000000  43701.240728